<% check = 0%>
<ul>
    <h4> Past Events </h4>
    <% @eventspast.each do |event| %>
    <li>
        <%= event.description %>
        <%= event.eventdate%>
        <%= link_to "Event Creator", event_path(event.id)%>
    </li>
    <% end %>
    <h4> Future Events </h4>
    <% @eventsfuture.each do |event| %>
    <li>
        <%= event.description %>
        <%= event.eventdate%>
        <%= link_to "Event Creator", event_path(event.id)%>
    </li>
    <% end %>
</ul>

