<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "All Events", events_path%>
    <% if session[:user_id] %>
    <%= link_to "Create New Event", new_event_path %>
    <%= link_to "Profile", user_path(session[:user_id]) %>
    Signed in as: <%= User.find(session[:user_id]).name %>
    <%= link_to "Logout", logout_path %>
    <%end%>
    <%= yield %>
  </body>
</html>
