<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:user_id] %>
    <p> Signed in as: <%= User.find(session[:user_id]).name %></p>
    
    <%= link_to "Logout", logout_path %>
    <%end%>
    <%= yield %>
  </body>
</html>
